body, html{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:hsl(29, 53%, 90%);
    font-family: "Outfit", sans-serif;
    font-size: 10px;
    margin: 100px 0;
}

h1{
    font-family: "Young Serif", serif;
    font-weight: 300;
}

.main-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 450px;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    margin: 50px 0;
}

.recipe-img{
    width: 400px;
    height: 175px;
    margin-top: 25px;
}

.recipe-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-content{
    display: flex;
    flex-direction: column;
    width: 400px;
    color: hsl(30, 10%, 34%);
}

.recipe-header{
    color: hsl(24, 5%, 18%);
    font-size: 24px;
    font-family: "Young Serif", serif;
    margin: 10px 0;
    font-weight: 200;
}

.prep-section{
    background-color: hsl(322, 100%, 98%);
    padding: 5px 15px;
    border-radius: 10px;
}

.prep-section ul{
    margin-bottom: 10px;
}

.recipe-desc{
    margin-bottom: 20px;
}

.prep-section h1{
    font-size: 12px;
    color:hsl(332, 51%, 32%);
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

ul, ol{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}


li::marker{
    color:hsl(332, 51%, 32%);
    font-size: 9px;
}

li{
    padding-left: 15px;
    color: hsl(30, 10%, 34%) ;
}

.text-content h1{
    color: hsl(14, 45%, 36%);
}

.ingredients-section{
    border-bottom: 1px solid hsl(30, 54%, 90%);
}

.instructions-section{
    border-bottom: 1px solid hsl(30, 54%, 90%);
}

.ingredients-section li::marker{
    color: hsl(14, 45%, 36%);
}

.instructions-section li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}


.nutrition-row{
    display: flex;
    justify-content: space-between;
    padding:8px 20px;
    border-bottom: 1px solid hsl(30, 54%, 90%);
}

.nutrition-row:last-child{
    border-bottom: none;
}

.right{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
    margin-right: 140px;
}

@media (max-width:600px){
    .card{
        width: 100vw;
        height: 1250px;
        border-radius: 0;
    }

    body{
        margin: 0;
    }

    .text-content{
        width: 90%;
    }

    .recipe-img{
        width: 100%;
        height: 100%;
        margin-top: 210px;

    }

    .recipe-img img{
        border-radius: 0;
    }

    .right{
        position: absolute;
        color:hsl(14, 45%, 36%);
        left: 200px;
        font-weight: bold;
    }
}